body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
.container{
    width:1140px;
    margin:auto;
    box-sizing:border-box;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.name-highlight {
    color: blue;
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 2%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
}

p {
    color: dimgray;
}

section {
    height: 500px;
    padding-bottom: 150px;
}

.link-button {
    text-decoration: 10%;
    background-image: linear-gradient(45deg, rgb(11, 11, 31), rgb(14, 14, 199));
    background-color: rgb(245, 175, 45);
    padding: 10px 20px 10px;
    border-radius: 5px;
    color: wheat;
    font-weight: 700;
}

.new-section {
    width:27%;
    margin:1%;
    padding:1%;
    border-radius:20px;
    box-shadow:1px 10px 17px rgb(177, 177, 177);
    float:left;
    height:350px;
}

.new-section img {
    width:100%;
}

#full-width {
    text-align: center;
}

.work-inqu {
    background-image: url("images/imagesufu.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 20;
    width: 72%;
    height: 29.8px;
    margin: auto;
    position: relative;
    border-radius: 30px;
}

.text h1 {
    color: white;
    padding: 20px;
}

.btn {
    color: white;
}

.btn a {
    color: white;
    background: linear-gradient(tomato, salmon);
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bolder;
    position: absolute;
    right: 12.9px;
    top: 72.8px;
}

.float-clear {
    clear: both;
}

.text {
    position: absolute;
    bottom: 45px;
    left: 20px;
}

footer p {
    text-align: center;
}
.stay-conected{
    text-align:center;
    padding:20px;
}
.stay-conected .icons img{
    width: 50px;
    margin:5px;
}